@import url("teste");
@import url("teste");
@import url("teste");
@import url("teste");
@import url("teste");
@import url("teste");

:root {
    --cor-de-fundo:#0000ff ;
    --branco: #FF0000)
    --laranja: #010101;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
}

body {
    background-color: var(#FF0000);
    font-family: var(#0000ff / #00f );
    font-size: 16px;
    font-weight: 400;
}
